In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import io
%cd "C:\Users\ykkou\Desktop\imarticus\Tutorial Datasets\genpact hackathon"

C:\Users\ykkou\Desktop\imarticus\Tutorial Datasets\genpact hackathon

In [3]:
india_test = pd.read_csv('India_test.csv')

In [4]:
india_train = pd.read_csv('India_train.csv')

In [5]:
submission = pd.read_csv('v2.csv')

In [6]:
india_train.shape,india_test.shape

((4705, 103), (2476, 103))

In [7]:
india_train.isnull().sum()

Year                                  0
State Name                            0
Dist Name                             0
COTTON AREA (1000 ha)               267
COTTON PRODUCTION (1000 tons)       228
                                   ...
POTASH PER HA OF NCA (Kg per ha)    256
POTASH PER HA OF GCA (Kg per ha)    238
TOTAL CONSUMPTION (tons)            265
TOTAL PER HA OF NCA (Kg per ha)     262
TOTAL PER HA OF GCA (Kg per ha)     231
Length: 103, dtype: int64

In [8]:
india_test.isnull().sum()

Year                                  0
State Name                            0
Dist Name                             0
COTTON AREA (1000 ha)               121
COTTON PRODUCTION (1000 tons)       117
                                   ...
POTASH PER HA OF NCA (Kg per ha)    108
POTASH PER HA OF GCA (Kg per ha)    118
TOTAL CONSUMPTION (tons)            134
TOTAL PER HA OF NCA (Kg per ha)     126
TOTAL PER HA OF GCA (Kg per ha)     131
Length: 103, dtype: int64

In [9]:
india_test['COTTON YIELD (Kg per ha)'] = 'test'

In [10]:
india_test['COTTON YIELD (Kg per ha)']

0       test
1       test
2       test
3       test
4       test
        ...
2471    test
2472    test
2473    test
2474    test
2475    test
Name: COTTON YIELD (Kg per ha), Length: 2476, dtype: object

In [11]:
combine_df = pd.concat([india_train,india_test])

In [21]:
combine_df.info(max_cols=110)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7181 entries, 0 to 2475
Data columns (total 103 columns):
 #    Column                                          Non-Null Count  Dtype
---   ------                                          --------------  -----
 0    Year                                            7181 non-null   int64
 1    State Name                                      7181 non-null   object
 2    Dist Name                                       7181 non-null   object
 3    COTTON AREA (1000 ha)                           6793 non-null   float64
 4    COTTON PRODUCTION (1000 tons)                   6836 non-null   float64
 5    COTTON YIELD (Kg per ha)                        7181 non-null   object
 6    JANUARY PERCIPITATION (Millimeters)             6841 non-null   float64
 7    FEBRUARY PERCIPITATION (Millimeters)            6812 non-null   float64
 8    MARCH PERCIPITATION (Millimeters)               6796 non-null   float64
 9    APRIL PERCIPITATION (Millimeters)               6839 non-null   float64
 10   MAY PERCIPITATION (Millimeters)                 6837 non-null   float64
 11   JUNE PERCIPITATION (Millimeters)                6808 non-null   float64
 12   JULY PERCIPITATION (Millimeters)                6807 non-null   float64
 13   AUGUST PERCIPITATION (Millimeters)              6806 non-null   float64
 14   SEPTEMBER PERCIPITATION (Millimeters)           6782 non-null   float64
 15   OCTOBER PERCIPITATION (Millimeters)             6825 non-null   float64
 16   NOVEMBER PERCIPITATION (Millimeters)            6831 non-null   float64
 17   DECEMBER PERCIPITATION (Millimeters)            6833 non-null   float64
 18   JANUARY MINIMUM (Centigrate)                    6805 non-null   float64
 19   FEBRUARY MINIMUM (Centigrate)                   6826 non-null   float64
 20   MARCH MINIMUM (Centigrate)                      6825 non-null   float64
 21   APRIL MINIMUM (Centigrate)                      6848 non-null   float64
 22   MAY MINIMUM (Centigrate)                        6837 non-null   float64
 23   JUNE MINIMUM (Centigrate)                       6827 non-null   float64
 24   JULY MINIMUM (Centigrate)                       6833 non-null   float64
 25   AUGUST MINIMUM (Centigrate)                     6822 non-null   float64
 26   SEPTEMBER MINIMUM (Centigrate)                  6799 non-null   float64
 27   OCTOBER MINIMUM (Centigrate)                    6832 non-null   float64
 28   NOVEMBER MINIMUM (Centigrate)                   6817 non-null   float64
 29   DECEMBER MINIMUM (Centigrate)                   6757 non-null   float64
 30   JANUARY MAXIMUM (Centigrate)                    6798 non-null   float64
 31   FEBRUARY MAXIMUM (Centigrate)                   6819 non-null   float64
 32   MARCH MAXIMUM (Centigrate)                      6825 non-null   float64
 33   APRIL MAXIMUM (Centigrate)                      6823 non-null   float64
 34   MAY MAXIMUM (Centigrate)                        6791 non-null   float64
 35   JUNE MAXIMUM (Centigrate)                       6797 non-null   float64
 36   JULY MAXIMUM (Centigrate)                       6819 non-null   float64
 37   AUGUST MAXIMUM (Centigrate)                     6829 non-null   float64
 38   SEPTEMBER MAXIMUM (Centigrate)                  6819 non-null   float64
 39   OCTOBER MAXIMUM (Centigrate)                    6811 non-null   float64
 40   NOVEMBER MAXIMUM (Centigrate)                   6778 non-null   float64
 41   DECEMBER MAXIMUM (Centigrate)                   6820 non-null   float64
 42   JANUARY WATER DEFICIT (Millimeters)             6780 non-null   float64
 43   FEBRUARY WATER DEFICIT (Millimeters)            6830 non-null   float64
 44   MARCH WATER DEFICIT (Millimeters)               6826 non-null   float64
 45   APRIL WATER DEFICIT (Millimeters)               6840 non-null   float64
 46   MAY WATER DEFICIT (Millimeters)                 6830 non-null   float64
 47   JUNE WATER DEFICIT (Millimeters)                6818 non-null   float64
 48   JULY WATER DEFICIT (Millimeters)                6837 non-null   float64
 49   AUGUST WATER DEFICIT (Millimeters)              6800 non-null   float64
 50   OCTOBER WATER DEFICIT (Millimeters)             6827 non-null   float64
 51   NOVEMBER WATER DEFICIT (Millimeters)            6834 non-null   float64
 52   DECEMBER WATER DEFICIT (Millimeters)            6792 non-null   float64
 53   JANUARY ACTUAL (Millimeters)                    6823 non-null   float64
 54   FEBRUARY ACTUAL (Millimeters)                   6803 non-null   float64
 55   MARCH ACTUAL (Millimeters)                      6853 non-null   float64
 56   APRIL ACTUAL (Millimeters)                      6804 non-null   float64
 57   MAY ACTUAL (Millimeters)                        6837 non-null   float64
 58   JUNE ACTUAL (Millimeters)                       6796 non-null   float64
 59   JULY ACTUAL (Millimeters)                       6800 non-null   float64
 60   AUGUST ACTUAL (Millimeters)                     6840 non-null   float64
 61   SEPTEMBER ACTUAL (Millimeters)                  6807 non-null   float64
 62   OCTOBER ACTUAL (Millimeters)                    6821 non-null   float64
 63   NOVEMBER ACTUAL (Millimeters)                   6832 non-null   float64
 64   DECEMBER ACTUAL (Millimeters)                   6829 non-null   float64
 65   JANUARY POTENTIAL (Millimeters)                 6834 non-null   float64
 66   FEBRUARY POTENTIAL (Millimeters)                6803 non-null   float64
 67   MARCH POTENTIAL (Millimeters)                   6830 non-null   float64
 68   APRIL POTENTIAL (Millimeters)                   6814 non-null   float64
 69   MAY POTENTIAL (Millimeters)                     6829 non-null   float64
 70   JUNE POTENTIAL (Millimeters)                    6812 non-null   float64
 71   JULY POTENTIAL (Millimeters)                    6844 non-null   float64
 72   AUGUST POTENTIAL (Millimeters)                  6812 non-null   float64
 73   SEPTEMBER POTENTIAL (Millimeters)               6820 non-null   float64
 74   OCTOBER POTENTIAL (Millimeters)                 6784 non-null   float64
 75   NOVEMBER POTENTIAL (Millimeters)                6845 non-null   float64
 76   DECEMBER POTENTIAL (Millimeters)                6827 non-null   float64
 77   TOTAL AREA (1000 ha)                            6806 non-null   float64
 78   FOREST AREA (1000 ha)                           6835 non-null   float64
 79   BARREN AND UNCULTIVABLE LAND AREA (1000 ha)     6804 non-null   float64
 80   LAND PUT TO NONAGRICULTURAL USE AREA (1000 ha)  6853 non-null   float64
 81   CULTIVABLE WASTE LAND AREA (1000 ha)            6848 non-null   float64
 82   PERMANENT PASTURES AREA (1000 ha)               6818 non-null   float64
 83   OTHER FALLOW AREA (1000 ha)                     6816 non-null   float64
 84   CURRENT FALLOW AREA (1000 ha)                   6797 non-null   float64
 85   NET CROPPED AREA (1000 ha)                      6815 non-null   float64
 86   GROSS CROPPED AREA (1000 ha)                    6843 non-null   float64
 87   CROPING INTENSITY (Percent)                     6839 non-null   float64
 88   NITROGEN CONSUMPTION (tons)                     6827 non-null   float64
 89   NITROGEN SHARE IN NPK (Percent)                 6847 non-null   float64
 90   NITROGEN PER HA OF NCA (Kg per ha)              6804 non-null   float64
 91   NITROGEN PER HA OF GCA (Kg per ha)              6809 non-null   float64
 92   PHOSPHATE CONSUMPTION (tons)                    6822 non-null   float64
 93   PHOSPHATE SHARE IN NPK (Percent)                6840 non-null   float64
 94   PHOSPHATE PER HA OF NCA (Kg per ha)             6800 non-null   float64
 95   PHOSPHATE PER HA OF GCA (Kg per ha)             6847 non-null   float64
 96   POTASH CONSUMPTION (tons)                       6843 non-null   float64
 97   POTASH SHARE IN NPK (Percent)                   6836 non-null   float64
 98   POTASH PER HA OF NCA (Kg per ha)                6817 non-null   float64
 99   POTASH PER HA OF GCA (Kg per ha)                6825 non-null   float64
 100  TOTAL CONSUMPTION (tons)                        6782 non-null   float64
 101  TOTAL PER HA OF NCA (Kg per ha)                 6793 non-null   float64
 102  TOTAL PER HA OF GCA (Kg per ha)                 6819 non-null   float64
dtypes: float64(99), int64(1), object(3)
memory usage: 5.7+ MB

In [84]:
non_numeric_cols = combine_df.drop('COTTON YIELD (Kg per ha)',axis=1).select_dtypes(include='object')

In [60]:
non_numeric_cols.isnull().sum()

State Name    0
Dist Name     0
dtype: int64

In [25]:
numeric_cols = combine_df.drop('COTTON YIELD (Kg per ha)',axis=1).select_dtypes(include=np.number)

In [27]:
numeric_cols.isnull().sum()

Year                                      0
COTTON AREA (1000 ha)                   388
COTTON PRODUCTION (1000 tons)           345
JANUARY PERCIPITATION (Millimeters)     340
FEBRUARY PERCIPITATION (Millimeters)    369
                                       ...
POTASH PER HA OF NCA (Kg per ha)        364
POTASH PER HA OF GCA (Kg per ha)        356
TOTAL CONSUMPTION (tons)                399
TOTAL PER HA OF NCA (Kg per ha)         388
TOTAL PER HA OF GCA (Kg per ha)         362
Length: 100, dtype: int64

In [39]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import LinearRegression

In [41]:
imputer=IterativeImputer(estimator=LinearRegression(),
initial_strategy="mean",
max_iter=20)

In [42]:
numeric_cols_impute= imputer.fit_transform(numeric_cols)

In [43]:
numeric_cols_impute = pd.DataFrame(numeric_cols_impute,columns=numeric_cols.columns)

In [44]:
numeric_cols_impute

,Year,COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),JANUARY PERCIPITATION (Millimeters),FEBRUARY PERCIPITATION (Millimeters),MARCH PERCIPITATION (Millimeters),APRIL PERCIPITATION (Millimeters),MAY PERCIPITATION (Millimeters),JUNE PERCIPITATION (Millimeters),JULY PERCIPITATION (Millimeters),...,PHOSPHATE SHARE IN NPK (Percent),PHOSPHATE PER HA OF NCA (Kg per ha),PHOSPHATE PER HA OF GCA (Kg per ha),POTASH CONSUMPTION (tons),POTASH SHARE IN NPK (Percent),POTASH PER HA OF NCA (Kg per ha),POTASH PER HA OF GCA (Kg per ha),TOTAL CONSUMPTION (tons),TOTAL PER HA OF NCA (Kg per ha),TOTAL PER HA OF GCA (Kg per ha)
0,1990.0,0.0,0.00000,4.050000,50.750000,75.34,18.87,57.59,123.740000,153.980000,...,23.32000,19.79,15.90,1383.000000,12.013313,5.79,4.21,41684.000000,85.210000,67.77
1,1990.0,7.0,3.00000,-7.002492,54.030000,94.67,12.21,143.97,115.080000,167.310000,...,18.24000,15.43,11.63,1363.000000,4.030000,5.67,3.11,44809.000000,90.080000,73.74
2,1990.0,49.0,238.00000,3.280000,39.900000,68.64,8.12,207.71,131.980000,168.960000,...,19.69000,48.41,32.27,7882.000000,6.860000,19.71,13.31,99647.735194,303.240000,194.95
3,1990.0,26.0,120.00000,4.140000,43.940000,48.83,5.39,230.23,146.550000,275.811189,...,23.77042,89.59,64.73,18271.000000,14.010000,42.18,33.22,165898.000000,375.970000,266.35
4,1990.0,996.0,289.00000,1.180000,28.502693,32.47,2.26,236.77,192.530172,127.990000,...,28.12000,77.62,53.68,13052.827548,13.340000,29.04,21.79,139778.000000,282.953324,193.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7176,2015.0,0.0,324.62753,23.374288,33.910000,28.31,181.83,315.05,733.260000,562.970000,...,24.42000,75.57,45.31,30574.000000,28.840000,94.70,55.89,123077.000000,369.160000,217.97
7177,2015.0,0.0,0.00000,29.890000,47.230000,33.53,191.11,233.87,600.920000,522.450000,...,0.00000,0.00,0.00,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.00
7178,2015.0,0.0,0.00000,26.290000,20.294841,15.06,53.32,79.15,284.050000,316.410000,...,27.74000,107.36,54.62,17626.000000,20.920000,75.39,41.51,104139.738702,441.580000,222.66
7179,2015.0,0.0,0.00000,19.890000,20.830000,24.05,148.61,360.22,543.413881,475.990000,...,30.05000,55.50,28.34,8378.000000,19.840000,33.75,18.12,46960.000000,185.620000,93.36
7180,2015.0,0.0,0.00000,11.270000,25.290000,23.43,50.31,32.21,205.330000,435.540000,...,30.97000,16.60,15.18,1500.000000,10.940000,6.84,7.37,15057.000000,51.700000,46.96

In [68]:
from sklearn.preprocessing import StandardScaler

In [69]:
sc = StandardScaler()

In [77]:
numeric_cols_impute_scaled = sc.fit_transform(numeric_cols_impute)

In [78]:
numeric_cols_impute_scaled = pd.DataFrame(numeric_cols_impute_scaled,columns=numeric_cols_impute.columns)

In [79]:
numeric_cols_impute_scaled

,Year,COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),JANUARY PERCIPITATION (Millimeters),FEBRUARY PERCIPITATION (Millimeters),MARCH PERCIPITATION (Millimeters),APRIL PERCIPITATION (Millimeters),MAY PERCIPITATION (Millimeters),JUNE PERCIPITATION (Millimeters),JULY PERCIPITATION (Millimeters),...,PHOSPHATE SHARE IN NPK (Percent),PHOSPHATE PER HA OF NCA (Kg per ha),PHOSPHATE PER HA OF GCA (Kg per ha),POTASH CONSUMPTION (tons),POTASH SHARE IN NPK (Percent),POTASH PER HA OF NCA (Kg per ha),POTASH PER HA OF GCA (Kg per ha),TOTAL CONSUMPTION (tons),TOTAL PER HA OF NCA (Kg per ha),TOTAL PER HA OF GCA (Kg per ha)
0,-1.670652,-0.278112,-0.308056,-0.537943,1.224425,1.664662,-0.200909,0.073011,-0.177960,-0.677264,...,-0.539982,-0.609129,-0.587687,-0.536276,-0.017685,-0.544757,-0.603599,-0.332250,-0.515356,-0.458549
1,-1.670652,-0.275724,-0.306706,-0.978367,1.343378,2.267415,-0.335083,1.046574,-0.223300,-0.621601,...,-1.094442,-0.757708,-0.815074,-0.538765,-0.818678,-0.550665,-0.680519,-0.276682,-0.474082,-0.376877
2,-1.670652,-0.261400,-0.200952,-0.568627,0.830937,1.455741,-0.417482,1.764968,-0.134819,-0.614711,...,-0.936181,0.366177,0.284049,0.272353,-0.534735,0.140586,0.032743,0.698448,1.332500,1.281330
3,-1.670652,-0.269244,-0.254054,-0.534357,0.977452,0.838021,-0.472481,2.018784,-0.058536,-0.168525,...,-0.490821,1.769499,2.012612,1.564989,0.182649,1.246884,1.425004,1.876494,1.948903,2.258113
4,-1.670652,0.061581,-0.178001,-0.652308,0.417600,0.327879,-0.535539,2.092494,0.182196,-0.785792,...,-0.016083,1.361588,1.424177,0.915726,0.115426,0.599943,0.625730,1.412034,1.160565,1.262451
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7176,1.672980,-0.278112,-0.161968,0.232098,0.613702,0.198161,3.082136,2.974765,3.013229,1.030583,...,-0.419922,1.291729,0.978457,3.095773,1.670594,3.832676,3.010265,1.115061,1.891187,1.596253
7177,1.672980,-0.278112,-0.308056,0.491738,1.096768,0.360932,3.269094,2.059809,2.320352,0.861381,...,-3.085259,-1.283527,-1.434396,-0.708354,-1.223022,-0.829825,-0.897995,-1.073464,-1.237531,-1.385673
7178,1.672980,-0.278112,-0.308056,0.348284,0.119932,-0.215004,0.493132,0.316007,0.661355,0.001006,...,-0.057558,2.375060,1.474234,1.484736,0.875953,2.881959,2.004705,0.778323,2.504964,1.660415
7179,1.672980,-0.278112,-0.308056,0.093255,0.139340,0.065324,2.412875,3.483862,2.019275,0.667375,...,0.194568,0.607788,0.074769,0.334067,0.767593,0.831837,0.369096,-0.238433,0.335642,-0.108467
7180,1.672980,-0.278112,-0.308056,-0.250238,0.301088,0.045991,0.432492,-0.213039,0.249211,0.498465,...,0.294982,-0.717837,-0.626029,-0.521719,-0.125374,-0.493061,-0.382627,-0.805724,-0.799361,-0.743239

In [54]:
from sklearn.preprocessing import OneHotEncoder

In [55]:
ohe = OneHotEncoder()

In [85]:
non_numeric_cols_encoded = non_numeric_cols.apply(LabelEncoder().fit_transform)

In [86]:
non_numeric_cols_encoded = pd.DataFrame(non_numeric_cols_encoded)

In [87]:
non_numeric_cols_encoded.reset_index(inplace=True)

In [89]:
non_numeric_cols_encoded.drop('index',axis=1,inplace=True)

In [93]:
X = pd.concat([numeric_cols_impute_scaled,non_numeric_cols_encoded],axis=1)

In [99]:
combine_df.reset_index(inplace=True)

In [100]:
combine_df.drop('index',axis=1,inplace=True)

In [101]:
X['COTTON YIELD (Kg per ha)'] = combine_df['COTTON YIELD (Kg per ha)']

In [108]:
X_train = X[X['COTTON YIELD (Kg per ha)'] != 'test'].drop('COTTON YIELD (Kg per ha)',axis=1)
X_test = X[X['COTTON YIELD (Kg per ha)'] == 'test'].drop('COTTON YIELD (Kg per ha)',axis=1)

In [109]:
X_train.shape,X_test.shape

((4705, 102), (2476, 102))

In [110]:
y_train = X[X['COTTON YIELD (Kg per ha)'] != 'test']['COTTON YIELD (Kg per ha)']

In [112]:
from sklearn.linear_model import LinearRegression

In [113]:
lr = LinearRegression()

In [114]:
lr_model = lr.fit(X_train,y_train)

In [115]:
lr_model.score(X_train,y_train)

0.3334080028279257

In [116]:
from sklearn.tree import DecisionTreeRegressor

In [138]:
dt = DecisionTreeRegressor(max_depth=8)

In [139]:
dt_model = dt.fit(X_train,y_train)

In [140]:
dt_model.score(X_train,y_train)

0.9138376727269211

In [125]:
from sklearn.model_selection import cross_val_score

In [141]:
np.mean(cross_val_score(dt,X_train,y_train))

0.46651862383671006

In [142]:
from sklearn.ensemble import RandomForestRegressor

In [147]:
rf = RandomForestRegressor(max_features='sqrt')

In [148]:
rf_model = rf.fit(X_train,y_train)

In [149]:
rf_model.score(X_train,y_train)

0.948153537637414

In [150]:
np.mean(cross_val_score(rf,X_train,y_train))

0.6155584846543041

In [151]:
from sklearn.ensemble import GradientBoostingRegressor

In [152]:
gb = GradientBoostingRegressor()

In [153]:
gb_model = gb.fit(X_train,y_train)

In [154]:
gb_model.score(X_train,y_train)

0.8978844394486926

In [155]:
np.mean(cross_val_score(gb,X_train,y_train))

0.6255238065686066

In [156]:
gb_pred = pd.DataFrame(gb_model.predict(X_test))

In [158]:
rf_pred = pd.DataFrame(rf_model.predict(X_test))

In [161]:
submission['COTTON YIELD (Kg per ha)'] = gb_pred

In [165]:
submission = submission.fillna(0)

In [167]:
submission.to_csv('v3.csv',index=False)